

.formElements {
    margin-top:25px;
    width:100%;
    height:auto;
    opacity:0;
}

.popUpCloseButton {
    
    width:30px;
    height:30px;
    border-radius:30px;
    border-color:white;
    border-style:solid;
    border-width:1px;
    position:absolute;
    opacity:1;
    cursor:pointer;
    color:white;
    font-size:25px;
    font-family:arial;
    text-align:center;
    line-height:30px;
    left:20px;
    bottom:20px;
    background-image: url('/images/close.png');
    background-size:contain;
    background-repeat:no-repeat;
}

.loginEnterButton {
    
    -webkit-appearance: none;
    -moz-appearance:none;
    height:40px;
    width:220px;
    background-color:#FF6961;
    cursor:pointer;
    color:white;
    opacity:1;
    font-size: 20px; text-align: center;
    font-family: mySeccondFont;
    border-radius: 2px;
    line-height:45px;
    position:relative;
    margin-left:190px;
    border-width:0px;
    border:none;
    margin-top:10px;
}

.loginFormText {
    
    width:180px;
    height:25px;
    position:absolute;
    left:80px;
    background-color:rgba(255,255,255,0.0);
    border-radius:4px;
    opacity:1;
    color:white;
    font-family:mySeccondFont;
    font-size:12px;
    line-height:29px;
    padding-left:20px;
    border-style:none;
}

.loginFormTextField {
    
    width:220px;
    height:25px;
    position:relative;
    margin-left:190px;
    background-color:rgba(255,255,255,0.2);
    border-radius:4px;
    opacity:1;
    color:white;
    font-family:arial;
    font-size:13px;
    line-height:25px;
    border-width:0px;
    border:none;
    text-align:center;
    top:0px;
    margin-top:10px;
}


#foodPlazaLogin {
    text-align:center;background-image: url('/images/foodplazaL.jpg');
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    
}

#facebookLogin {
    background-image: url('/images/facebookL.jpg');
    border-radius:0;
}

#twitterLogin {
    background-image: url('/images/twitterL.jpg');
    border-radius:0;
}

#googleLogin {
    background-image: url('/images/googleL.jpg');
    border-top-right-radius:0;
    border-top-left-radius:0;
}


@media only screen and (min-device-width: 768px) and (max-device-width: 900px){
    

 .formElements {
     background-color:rgba(0,0,0,0.89);
     width:700px;
     position:absolute;
     left:50%;
     margin-left:-350px;
     padding-top:50px;
     padding-bottom:70px;
     border-radius:10px;
     margin-top:20%;
  }


 .loginFormTextField {
     
     width:300px;
     height:40px;
     margin-left:200px;
     border-radius:4px;
     font-size:25px;
     line-height:40px;
     margin-top:15px;
 }
 
 .popUpCloseButton {
     
     width:60px;
     height:60px;
     border-radius:30px;
     border-width:1px;
     line-height:30px;
     left:30px;
     bottom:30px;
 }
 
 .loginEnterButton {
     
     height:60px;
     width:300px;
     font-size: 30px;
     border-radius: 2px;
     line-height:60px;
     margin-left:200px;
     margin-top:20px;
 }
 
}


@media only screen and (min-device-width: 300px) and (max-device-width: 767px) {
 
 .popUpCloseButton {
     width:140px;
     height:140px;
     border-radius:180px;
     border-width:3px;
     position:fixed;
 }
 
 .formElements {
     margin-top:120px;
 }
 
 .loginFormTextField {
     
     width:600px;
     height:80px;
     margin-left:200px;
     border-radius:4px;
     font-size:50px;
     line-height:80px;
     margin-top:15px;
 }
 
 .loginEnterButton {
     
     height:120px;
     width:600px;
     font-size: 60px;
     border-radius: 2px;
     line-height:120px;
     margin-left:200px;
     margin-top:20px;
 }
 
 
}



