
* {
    
    margin: 0;
    padding: 0;
}

.header {
    
    width: 100%;
    z-index:200;
    position:fixed;
    left:0px;
    top:0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:90px;
    background-color:rgba(10,10,10,0.7);
    //background-color:rgba(255,255,255,0.7);
    border-bottom-style:solid;
    border-bottom-width:0px;
    border-bottom-color:rgba(255, 255, 255, 0.6);
    //border-bottom-color:rgba(0, 0, 0, 1);
}

.headerLineLeft {
    
    width: 50%;
    z-index:200;
    position:fixed;
    left:-97px;
    top:0px;
    height:90px;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:rgba(255, 255, 255, 0.6);
    //border-bottom-color:rgba(0, 0, 0, 1);
}

.headerLineRight {
    
    width: 50%;
    z-index:200;
    position:fixed;
    right:-97px;
    top:0px;
    height:90px;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:rgba(255, 255, 255, 0.6);
    //border-bottom-color:rgba(0, 0, 0, 1);
}

.mainLogo {
    
    height:230px;
    width:250px;
    background-image:url('/images/FoodPlazaLogoExtraFrame.png');
    //background-image:url('/images/FoodPlazaLogo.png');
    
    background-size:cover;
    position: fixed;
    top:9.5px; left:50%;
    margin-left:-125px;
    background-position:bottom;
}

.mainLogo2 {
    
    height:230px;
    width:250px;
    background-image:url('/images/FoodPlazaLogo.png');
    background-size:cover;
    position: fixed;
    top:170px; left:50%;
    margin-left:-125px;
    background-position:bottom;
}

.advertisementButton {
    
    width:125px;min-width:125px;
    height:30px;
    cursor:pointer;
    font-size: 15px; text-align: center;
    font-family: mySeccondFont;
    float:right;
    position:relative;
    margin-right:15px;
    margin-top:30px;
    line-height:35px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-style:solid;
    border-color:rgba(255,255,255,0.6);
    border-top-width:1px;
    border-left-width:1px;
    border-right-width:1px;
    border-bottom-width:1px;
}

#registerButton {
    background-color: #FF6961;
    color:white;
    left:140px;
}

#loginButton {
    background-color: transparent;
    color:#FF6961;
    left:2px;
}

.advertisementT {
    
    height:30px;
    line-height:36px;
    font-size: 14px; text-align: center;
    border-radius: 2px;
    color:white;
    font-family: mySeccondFont;
    position:relative;
    margin-top:10px;
}

.leftIconButton {
    
    width:150px;
    height:30px;
    cursor:pointer;
    font-size: 15px; text-align: center;
    font-family: mySeccondFont;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    position:absolute;
    line-height:35px;
    //top:35px;
    margin-top:31px;
}

video#bgvid {
    
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background-size: cover;
    content: url("/videos/foodPlazaBackGround.mp4");
}

.videoSource {
    
    content:url("/videos/foodPlazaBackGround.mp4");

}

.videWindowDiv {
    
    position: relative;
    width:100%;
    height: 100vh;min-height: 550px;
    z-index: 10;
    color:white;
    font-family:mySeccondFont;
    font-size:34px;
    text-align:center;
    line-height:28px;
}

.videWindowDiv span {
    
    font-size:14px;
    line-height:-20px;
}

.sloganDiv {
    
    height:55px;
    width:100%;
    position:relative;
    top:46vh;//top:48%;
    padding-top:24px;
    opacity:0;
}

.registerButton {
 
    height:50px;
    width:270px;
    background-color:#FF6961;
    position:absolute;
    right:50%;
    margin-right:-135px;
    top:54vh;//top:56%;
    border-radius:2px;
    color:white;
    font-size:26px;
    text-align:center;
    line-height:58px;
    font-family:mySeccondFont;
    cursor:pointer;
    opacity:0;
    margin-top:40px;
}

.cityIcon {
    
    width:150px;
    height:80px;
    position:absolute;
    bottom:70px;
    border-style:solid;
    border-width:1px;
    border-color:white;
    line-height:50px;
    border-radius:6px;
    //font-family:myThirdFont;
    font-family:mySeccondFont;
    font-size:20px;
    text-align:center;
    color:white;
    background-size:cover;
}


#munich {
        left:50%;
        margin-left:-160px;
        background-image: url('/images/munich_1.png');
}

#frankfurt {
    right:50%;
    margin-right:-160px;
    background-image: url('/images/frankfurt_1.png');
}

.loginFormDiv {
    
    width:600px;
    padding:0;
    height:0px;
    background-color:rgba(0,0,0,0.9);
    position:fixed;
    left:50%;
    margin-left:-300px;
    top:34vh;
    z-index:80;
    border-width:0;
    border-radius:10px;
}

.signUpDiv {
    
    width:100%;
    height:auto;
    position:absolute;
    top:50%;
    margin-top:-100px;
}

.signUpButton {
    
    position:relative;
    height:50px;
    width:300px;
    background-color:clear;
    border-radius:2px;
    cursor:pointer;
    background-size:contain;
    margin:auto;
    background-repeat:no-repeat;
    color:white;
    font-size:15px;
    text-align:left;
    line-height:54px;
    font-family:mySeccondFont;
    //background-image: url('/images/smallLogo.png');
    opacity:0;
}

.contentDiv1 {
    
    position: relative;
    width:100%;min-width:1000px;
    background-color:rgba(0, 0, 0, 0.82);
    height:1850px;
}

.mobileBack {
    height:0;
    width:0;
    //display: none;
    //visibility: hidden;
}

.centerDiv {

    width:1000px;
    //max-width:1100px;
    height:100%;
    margin:auto;
    color:white;
    font-size:28px;
    text-align:center;
    font-family:MySeccondFont;
}

.centerDiv span {
    
    font-size:14px;
}

.infoStrip {
    
    //background-color:#282828;
    //background-color:black;
    width:1000px;
    height:40px;
    margin:0 auto;
}

.detailsHeader {
 
    width:333px;
    height:40px;
    color:white;
    font-size:13px;
    text-align:left;
    line-height:39px;
    font-family:myThirdFont;
    text-align:center;
    float:left;
    background-size:6%;
    background-repeat:no-repeat;
    background-position:20% center;
}

.iCon {
    
    height: 110px;
    width: 110px;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

#contentText_1 {
    top:150px;
}
#contentText_2 {
    top:550px;
}
#contentText_3 {
    top:950px;
}
#contentText_4 {
    top:1350px;
}

.contentText {
    
    width: 400px;
    height: 350px;
    position: absolute;
    left: 50%;
    margin-left: 100px;
    color: white;
    float: right;
    font-size: 26px;
    text-align: center;
    line-height: 80px;
    font-family:  arial;
    z-index: 100;
}

.detailText {
    
    font-size: 16px;
    font-family: arial;
    width: 90%;
    height: 50%;
    line-height:20px;
    float:left;
    font-family: myThirdFont;
    font-weight: bold;
    //text-align: justify;
    text-align: center;
    position:relative;
    margin-left:20px;
}

.macBook {
    
    width: 550px;
    height: 320px;
    position: relative;
    background-image: url('/images/mac.png');
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
}

.macScreen {
 
    width:410px;
    height:260px;
    position:absolute;
    bottom:39px;
    right:70px;
    background-image: url('/images/screen_2.jpg');
    background-size:cover;
    opacity:0.0;
    border-radius:1px;
}

.macScreenBack {
 
    width:410px;
    height:260px;
    position:absolute;
    bottom:39px;
    right:70px;
    background-image: url('/images/screen_1.jpg');
    background-size:cover;
    border-radius:1px;
}

.phone {
    
    width:100px;
    height:200px;
    position:absolute;
    bottom:2px;
    right:20px;
    background-image: url('/images/phone.png');
    background-size:cover;
}

.phoneBack {
    
    width:86px;height:150px;
    position:relative;
    background-size:cover;
    margin:auto;
    margin-top:26px;
    border-radius:1px;
}

.citiesImage {
   
   width:200px;
   height:200px;
   margin:auto;
   margin-top:100px;
   background-size:contain;
   background-repeat:no-repeat;
}

.socialIcon {
    
    width:80px; height:80px;
    background-size:cover;
    float:left;
    margin:10px;
    margin-top:70px;
    cursor:pointer;
}

#socialContainer {
    height:auto;
    overflow:auto;
    width:400px;
    margin:auto;
}

.footer {
    
    height: 300px;
    width: 100%;min-width:1000px;
    background-color: white;
    position: relative;
    bottom: 0;
}

@font-face {
    font-family: myFirstFont;
    src: url('/fonts/Arkhip_font.ttf');
}

@font-face {
    font-family: mySeccondFont;
    //src: url('/fonts/ADAM.CG PRO.otf');
    src: url('/fonts/pier.otf');
}

@font-face {
    font-family: myThirdFont;
    src: url('/fonts/Drugs.otf');
    
}

@font-face {
    font-family: myFont;
    src: url('/fonts/CODE Light.otf');
    
}




@media only screen and (max-width: 1000px) {
    
    
    .contentDiv1 {

        width:100%;min-width:800px;
    }
    
    .centerDiv {
        
        width:800px;
    }
    
    .infoStrip {
        
        width:800px;
    }
    
    .detailsHeader {
        
        background-position:10% center;
        width:266px;
    }
    
    .macBook {
        
        width:340px;
        height:320px;
        position:relative;
        background-image: none;
    }
    
    .macScreen {
        
        width:0px;
        height:0px;
        bottom:39px;
        right:70px;
        overflow:hidden;
    }
    
    .macScreenBack {
        
        width:0px;
        height:0px;
        overflow:hidden;
        background-image: none;
    }
    
    .contentText {
        
        width:300px;
        margin-left:30px;
    }
    
    .phone {
        
        width:200px;
        height:400px;
        bottom:-20px;
        top: 50%;
        transform: translateY(-50%);
        right:40px;
    }
    
    .phoneBack {
        
        width:172px;height:300px;
        background-image: none;
        position:relative;
        background-size:cover;
        margin:auto;
        margin-top:54px;
        border-radius:1px;
    }
    
    .footer {
        
        min-width:800px;
        background-color: white;
    }
    
}

@media only screen and (min-device-width: 768px) and (max-device-width: 900px){
 
 
 
 #registerButton {
     background-color: #FF6961;
     color:white;
     left:50%;
     margin-left:-40px;
 }
 
 #loginButton {
     background-color: transparent;
     color:#FF6961;
     left:2px;
     left:50%;
     margin-left:-300px;
 }
 
    .leftIconButton {
        width:280px;
        height:50px;
        line-height:50px;
        font-size:28px;
        margin-top:20px;
    }
    .videWindowDiv {
        //background-color:blue;
    }
    
    .mobileBack {
        width:100%;
        height:100vh;
        z-index:-100;
        position:fixed;
        background-color:black;
        background-image:url('/images/munich_7.jpg');
        background-size:cover;
        background-position: center center;
    }
    
    .registerButton {
        
        width:500px;
        height:80px;
        left:50%;
        margin-left:-250px;
        top:42%;
        font-size:50px;
        line-height:80px;
        border-radius:10px;
    }
    
    .sloganDiv{
        top: 36%;
    }
    
    .cityIcon {
        
        border-width:2px;
        line-height:60px;
        border-radius:10px;
        font-size:40px;
        line-height:100px;
    }
    
    #munich {
        height:150px;
        width:280px;
        margin-left:-300px;
    }
    
    #frankfurt {
        height:150px;
        width:280px;
        margin-right:-300px;
    }
    
    .contentDiv1 {
        
        height:1000px;
    }
    
    #contentText_1 {

        top:100px;
        left:50%;
        margin-left:-400px;
    }
    #contentText_2 {
        
        top:100px;
        left:50%;
        margin-left:0px;
    }
    #contentText_3 {

        top:540px;
        left:50%;
        margin-left:-400px;
    }
    #contentText_4 {
        
        top:540px;
        left:50%;
        margin-left:0px;
    }
    
    .contentText {
        width: 400px;
        height: 350px;
        position: absolute;
    }
    
    .iCon {
        
        height: 180px;
        width: 180px;
        margin: auto;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    #socialContainer {
        
        width:721px;
    }
    
    .socialIcon {
        
        width:150px; height:150px;
        background-size:cover;
        float:left;
        margin:15px;
        margin-top:50px;
    }
    
    .footer {
        height:auto;
    }
 
}

@media only screen and (min-device-width: 300px) and (max-device-width: 767px) {

html {
    height: 100vh;
}
body {
    height:100vh;
}

.header {
    
    height:138px;
}

#registerButton {
    background-color: #FF6961;
    color:white;
    left:48%;
}

#loginButton {
    background-color: transparent;
    color:#FF6961;
    left:2px;
    left:0;
}

.leftIconButton {
    width:48%;
    height:100px;
    line-height:100px;
    font-size:50px;
    margin-top:20px;
}
.videWindowDiv {

}

.mobileBack {
    width:100%;
    height:100%;
    z-index:-100;
    position:fixed;
    background-color:black;
    background-image:url('/images/munich_7.jpg');
    background-size:cover;
    background-position: center center;
    overflow:auto;
}

.registerButton {
 
 width:700px;
 height:160px;
 left:50%;
 margin-left:-350px;
 top:36%;
 font-size:86px;
 line-height:160px;
 border-radius:10px;
}

.sloganDiv{
    display: none;
    visibility: hidden;
}

.cityIcon {
    
    border-width:5px;
    line-height:60px;
    border-radius:10px;
    font-size:60px;
    line-height:140px;
}

#munich {
    height:200px;
    width:360px;
    margin-left:-380px;
}

#frankfurt {
    height:200px;
    width:360px;
    margin-right:-380px;
}

.infoStrip {
    
    height:100px;
}

.detailsHeader {
    display: none;
    visibility: hidden;
}

.contentDiv1 {
    
    height:1030px;
    background-color:rgba(0, 0, 0, 0.7);
}

#contentText_1 {
    
    top:100px;
    left:50%;
    margin-left:-400px;
}
#contentText_2 {
    
    top:100px;
    left:50%;
    margin-left:0px;
}
#contentText_3 {
    
    top:540px;
    left:50%;
    margin-left:-400px;
}
#contentText_4 {
    
    top:540px;
    left:50%;
    margin-left:0px;
}

.contentText {
    width: 400px;
    height: 350px;
    position: absolute;
    font-size:40px;
}

.detailText {
    display: none;
    visibility: hidden;
}
.iCon {
    
    height: 260px;
    width: 260px;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

#socialContainer {
    
    width:721px;
}

.socialIcon {
    
    width:150px; height:150px;
    background-size:cover;
    float:left;
    margin:15px;
    margin-top:50px;
}

.footer {
    height:auto;
}

}









