


<div class="header" >
    <div class="bigLogoHomeButton"onClick="location.href='../'"></div>
    <div class="advertisement"></div>
</div>

<div style="width:700px;height:300px;background-color:rgba(0,0,0,0.8);position:absolute;left:50%;margin-left:-350px;top:260px;font-family:mySeccondFont;text-align:center;font-size:30px;padding-top:40px; color:white; border-radius:10px;">Hallo {{name}} ! </br></br><span style="font-size:20px;"> Bitte check deine Mails und bestätige deine Anmeldung
    </br> Wir hoffen dich bald in der Food Plaza Familie begrüßen zu dürfen !
    </br> Dein Food Plaza Team.</span> </br></br> <span style="color:lightblue;font-size:18px;">{{mail}}</span>
</div>