
<div class="header" >
    <div class="bigLogoHomeButton"onClick="location.href='../'"></div>
    <div class="advertisement">
        <div class="advertisementButton" onClick="location.href='../'" style="background-color:#FF6961; color:white; border:0px solid #FFFFFF;">HOME</div>
        <div class="advertisementButton" onClick="location.href='../restaurant'" style="background-color:#202020; color:white; border:0px solid #FF6961; ">RESTAURANT</div>
        <div id="advertisementT_2" class="advertisementT" style="float:right;width:18%;"></div>
        <div class="smallLogo" onClick="location.href='../'" ></div>
        <div id="advertisementT_1" class="advertisementT" style="float:left;width:30%;"></div>
    </div>

</div>



<div class="sliderDiv" id="sliderDiv">
    <div class="formBlock">
        
    <div class="formItemBlock">
        <div class="formText"> Name: </div>
        <div class="formText"> Straße: </div>
        <div class="formText"> Stadt: </div>
        <div class="formText"> Postleitzahl: </div>
    </div>
    <div class="formItemBlock">
        <div class="formItem"></div>
        <div class="formItem"></div>
        <div class="formItem"></div>
        <div class="formItem"></div>
    </div>
    <div class="formItemBlock">
        <div class="formText"> e-Mail: </div>
        <div class="formText"> Alter: </div>
        <div class="formText"> Smartphone: </div>
        <div class="formText"> Driver-plus: </div>
    </div>
    <div class="formItemBlock">
        <div class="formItem"></div>
        <div class="formItem"></div>
        <div class="formItem"></div>
        <div class="formItem"></div>
    </div>
    
    </div>
    
    <div class="sliderCloseButton" onClick="closeFormSlide();">X</div>
    <div class="sliderSubmitButton">Jetzt Bewerben</div>
     
</div>




<div class="contentDiv2" style="background-color:white;">
    <div class="centerDiv">
        <div class="imageDiv" style="float:left;background-image: url('/images/blacky.jpg');">
        </div>
        <div class="textDiv" style="">WERDE FAHRER BEI FOOD PLAZA</div>
        <div class="becomeDriverButton" onClick="openFormSlide()">JETZT BEWERBEN</div>
    </div>
</div>


<div class="footer"><div>
