<div class="headerLineLeft"></div>
<div class="headerLineRight"></div>
<div class="header">
    
    <div class="advertisement">
        <div class="advertisementButton" onClick="location.href='../'" style="background-color:#FF6961; color:white; border:0px solid #FFFFFF;">HOME</div>
        <div class="advertisementButton" onClick="location.href='../restaurant'" style="background-color:#202020; color:white; border:0px solid #FF6961; ">RESTAURANT</div>
        <div class="mainLogo"></div>
    </div>
    
</div>



<div class="sliderDiv" id="sliderDiv">
    <div class="formBlock">
        
    <div class="formItemBlock">
        <div class="formText"> Name: </div>
        <div class="formText"> Straße: </div>
        <div class="formText"> Stadt: </div>
        <div class="formText"> Postleitzahl: </div>
    </div>
    <div class="formItemBlock">
        <div class="formItem"></div>
        <div class="formItem"></div>
        <div class="formItem"></div>
        <div class="formItem"></div>
    </div>
    <div class="formItemBlock">
        <div class="formText"> e-Mail: </div>
        <div class="formText"> Alter: </div>
        <div class="formText"> Smartphone: </div>
        <div class="formText"> Driver-plus: </div>
    </div>
    <div class="formItemBlock">
        <div class="formItem"></div>
        <div class="formItem"></div>
        <div class="formItem"></div>
        <div class="formItem"></div>
    </div>
    
    </div>
    
    <div class="sliderCloseButton" onClick="closeFormSlide();">X</div>
    <div class="sliderSubmitButton">Jetzt Bewerben</div>
     
</div>




<div class="contentDiv2" style="background-color:white;">
    <div class="centerDiv">
        <div class="imageDiv" style="float:left;background-image: url('/images/blacky.jpg');">
        </div>
        <div class="textDiv" style="">WERDE FAHRER BEI FOOD PLAZA</div>
        <div class="becomeDriverButton" onClick="openFormSlide()">JETZT BEWERBEN</div>
    </div>
</div>


<div class="footerInfo" style="background-color: rgba(0,0,0,0.9);">
    
    <div class="footerHeader">
        <div id="H1" class="footerHeaderElement" onclick="openFooterSection('1');" style="background-image: url('/images/watchIcon.png');" onmouseover="MouseOver('1')" onmouseout="MouseOut('1')"></div>
        <div id="H2" class="footerHeaderElement" onclick="openFooterSection('2');" style="background-image: url('/images/dollarIcon.png');" onmouseover="MouseOver('2')" onmouseout="MouseOut('2')"></div>
        <div id="H3" class="footerHeaderElement" onclick="openFooterSection('3');" style="background-image: url('/images/phoneIcon.png');" onmouseover="MouseOver('3')" onmouseout="MouseOut('3')"></div>
        <div id="H4" class="footerHeaderElement" onclick="openFooterSection('4');"  style="background-image: url('/images/scooterIcon.png');"onmouseover="MouseOver('4')" onmouseout="MouseOut('4')"></div>
        
        
        <div id="footerSection_1" class="footerSection FS1 sectioText">
            <h2>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,</h2><br> sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.<br><br> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        </div>
        
        <div id="footerSection_2" class="footerSection FS2 sectioText">
            <h2>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,</h2><br> sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.<br><br> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        </div>
        
        <div id="footerSection_3" class="footerSection FS3 sectioText">
            <h2>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,</h2><br> sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.<br><br> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        </div>
        
        <div id="footerSection_4" class="footerSection FS4 sectioText">
            <h2>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,</h2><br> sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.<br><br> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        </div>
    </div>
    
    
    
    
    
</div>

<div class="footer">
    <div style="height:auto; overflow:auto; width:400px; margin:auto;">
        <div class="socialIcon" style="background-image:url('/images/F.jpg');"></div>
        <div class="socialIcon" style="background-image:url('/images/T.jpg');"></div>
        <div class="socialIcon" style="background-image:url('/images/I.jpg');"></div>
        <div class="socialIcon" style="background-image:url('/images/P.jpg');"></div>
    </div>
    
    <div class="impressum">
        <div class="impressumSection">FOOD PLAZA ©</div>
        <div class="impressumSection">IMPRESSUM</div>
        <div class="impressumSection">AGB's</div>
        <div class="impressumSection">CONTACT US</div>
    </div>
</div>

<script> openFooterSection(1); </script>





