
<div class="header" >
    <div class="bigLogoHomeButton"onClick="location.href='../'"></div>
    <div class="advertisement">
        <div class="advertisementButton" onClick="location.href='../'" style="background-color:#FF6961; color:white; border:0px solid #FFFFFF;">HOME</div>
        <div class="advertisementButton" onClick="location.href='../restaurant'" style="background-color:#202020; color:white; border:0px solid #FF6961; ">RESTAURANT</div>
        <div id="advertisementT_2" class="advertisementT" style="float:right;width:18%;"></div>
        <div class="smallLogo" onClick="location.href='../'" ></div>
        <div id="advertisementT_1" class="advertisementT" style="float:left;width:30%;"></div>
    </div>
    <!--
    <div class="leftIconButton" style="background-color: transparent; color:#FF6961;left:2px;">ANMELDEN</div>
    <div class="leftIconButton" style="background-color: #FF6961; color:white; left:140px;">REGISTRIEREN</div>
     -->
</div>



<div class="sliderDiv" id="sliderDiv">
    <div class="formBlock">
        
    <div class="formItemBlock">
        <div class="formText"> Name: </div>
        <div class="formText"> Straße: </div>
        <div class="formText"> Stadt: </div>
        <div class="formText"> Postleitzahl: </div>
    </div>
    <div class="formItemBlock">
        <div class="formItem"></div>
        <div class="formItem"></div>
        <div class="formItem"></div>
        <div class="formItem"></div>
    </div>
    <div class="formItemBlock">
        <div class="formText"> e-Mail: </div>
        <div class="formText"> Alter: </div>
        <div class="formText"> Smartphone: </div>
        <div class="formText"> Driver-plus: </div>
    </div>
    <div class="formItemBlock">
        <div class="formItem"></div>
        <div class="formItem"></div>
        <div class="formItem"></div>
        <div class="formItem"></div>
    </div>
    
    </div>
    
    <div class="sliderCloseButton" onClick="closeFormSlide();">X</div>
    <div class="sliderSubmitButton">Jetzt Bewerben</div>
     
</div>




<div class="contentDiv2" style="background-color:white;">
    <div class="centerDiv">
        <div class="imageDiv" style="float:left;background-image: url('/images/blacky.jpg');">
        </div>
        <div class="textDiv" style="">WERDE FAHRER BEI FOOD PLAZA</div>
        <div class="becomeDriverButton" onClick="openFormSlide()">JETZT BEWERBEN</div>
    </div>
</div>

<!--
<div class="contentDiv2" style="background-color:#282828;">
    <div class="centerDiv">
        <div class="imageDiv"style="float:right;background-image: url('/images/asia.jpg');">-
        
        </div>
    </div>
</div>
-->

<div class="contentDiv1" style="background-color:#282828; height:560px;">
    <div class="centerDiv" style="s">
        <div class="details">
            <div class="iCon" style="margin-top:110px;background-image: url('/images/heart.png');"></div>
            <div class="iConText2" >
                <span>KEIN MINDEST</br></span>
                <div class="thin2" ></div>
                </br>Wähle aus</br>
                einer Auswahl der</br>
                belibtesten Restaurants</br>
                deiner Stadt</br>
            </div>
        </div>
        <div class="details"style="margin-left:15px;">
            <div class="iCon" style="margin-top:110px;background-image: url('/images/leaf.png');"></div>
            <div class="iConText2" >
                <span>THEY PREPARE</br></span>
                <div class="thin2" ></div>
                </br>Deine Bestellung</br>
                wird an das</br>
                Restaurant</br>
                weitergegeben</br>
            </div>
        </div>
        <div class="details"style="margin-left:15px;">
            <div class="iCon" style="margin-top:110px;background-image: url('/images/map.png');"></div>
            <div class="iConText2" >
                <span>WE DELIVER</br></span>
                <div class="thin2" ></div>
                </br>Unsere Flotte</br>
                liefert deine</br>
                Bestellung schnell</br>
                und zuverlässig</br>
            </div>
        </div>
    </div>

<div class="footer"><div>
