

<div class="header"style="height:120px; background-image:url('/images/noimage.jpg'); background-color:rgba(10,10,10,0.42);border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:rgba(255, 255, 255, 0.6); color:white; text-align: center; line-height:180px; font-size:35px; font-family:myFirstFont;">
    
    <div class="advertisement" style="height:50px;background-image:url('/images/noimage.jpg');background-color:rgba(10,10,10,1.0);">
        <div class="advertisementButton" onClick="location.href='../restaurant'" style="background-color:#FF6961; color:white; border:0px solid #FFFFFF;">RESTAURANT</div>
        <div class="advertisementButton" onClick="location.href='../driver'" style="background-color:#202020; color:white; border:0px solid #FF6961; ">FAHRER</div>
    </div>
    <div class="leftIconButton" style="background-color: transparent; color:#FF6961;left:2px; top:70px;" onClick="loadLoginForm()">ANMELDEN</div>
    <div class="leftIconButton" style="background-color: #FF6961; color:white; left:140px; top:70px; " onClick="loadsignupForm()">REGISTRIEREN</div>
</div>

<video autoplay loop poster="/images/StartingVideoPIC.png" id="bgvid" >
    <source src="/videos/foodPlazaBackGround.mp4" type="video/mp4">
    <source src="/images/backgroundmovietwo.mp4" type="video/mp4">
</video>

<div class="videWindowDiv">
    <div class="registerButton" onclick="openSignUpDiv()">JOIN US</div>
    <div class="sloganDiv">
        YOUR FAVORITE RESTAURANTS AT HOME
    <span></br>Bestelle bei einer Auswahl der beliebtesten Restaurants deiner Stadt</span>
    </div>
</div>

<div id="loginFormDiv" class="loginFormDiv" style="overflow: scroll;z-index:201;"></div>


<div style="background-color:#282828; width:100%; min-width:1000px; height:50px;">
   <div class="detailsHeader">
       Kein Mindestbestellwert&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Live Fahrertracking &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Original RestaurantPreise
   </div>
</div>


<div class="contentDiv1" style="background-color:rgba(0, 0, 0, 0.82); height:1450px; ">

    <div id="centerDiv1" class="centerDiv" style=" min-width:1000px; max-width:1100px; ">
        
        
        <div class="macBook">
            
            <div style ="width:410px;height:260px; position:absolute; bottom:39px; right:70px; background-image: url('/images/screen_1.jpg'); background-size:cover; border-radius:1px;"></div>
            <div class="macScreen" id="macScreen" style ="width:410px;height:260px; position:absolute; bottom:39px; right:70px; background-image: url('/images/screen_2.jpg'); background-size:cover; opacity:0.0;border-radius:1px;" ></div>
            
            <div style ="width:100px;height:200px; position:absolute; bottom:2px; right:20px; background-image: url('/images/phone.png'); background-size:cover;" >
                <div style ="width:86px;height:150px; background-image: url('/images/iBack.jpg'); position:relative; background-size:cover; margin:auto; margin-top:26px; border-radius:1px;" ></div>
            </div>
            
        </div>
        
        <div id="contentText_1" class="contentText" style="top:150px;">
            <div class="iCon" style="background-image: url('/images/heart.png');"></div>
            YOU CHOOSE</br>
            <div class="detailText">Jetzt kommen die angesagtesten Restaurants zu dir! Bestelle einfach und bequem online.
            Lass uns gemeinsam ein Statement im Namen der guten Küche setzen und werde noch Heute Teil von FOOD PLAZA.
            </div>
        </div>
        <div id="contentText_2" class="contentText" style="top:550px;">
            <div class="iCon" style="background-image: url('/images/cook.png');"></div>
            THEY COOK</br>
            <div class="detailText">
            Die besten Restaurants werden jetzt für dich mobil. Wir stehen mit unserem Namen für kulinarische Finesse und Qualität!
            Deine Bestellung wird stets frisch und mit liebe zubereitet.
            </div>
        </div>
        <div id="contentText_3" class="contentText" style="top:950px;">
            <div class="iCon" style="background-image: url('/images/scooter.png');"></div>
            WE DELIVER</br>
            <div class="detailText">Dank unserem inovativen logistic Systems glangt deine Bestellung schnell und
                zuverlässig ans Ziel. Verfolge deine Bestellung via LIVE TRACKING und behalte die Übersicht über deinen Lieferststus.
            </div>
        </div>
     
    </div>

</div>

<div  id="cityContent" class="contentDiv1" style="background-color:rgba(0, 0, 0, 0.82); height:1000px; ">
    
    <div id="cityCenter" class="centerDiv" style=" height:700px; margin-top:0px; overflow:auto; line-height:120px; color:rgba(28,28,28, 0);">
        DER LIEFERSERVICE FÜR DEINE STADT !
       
       <div style="width:999px; height:auto; overflow:auto; ">
        <div style="background-size:cover; margin:5px; margin-left:35px; width:303px; height:350px; background-color:yellow; float:left; background-image:url('/images/munich_6.jpg');"></div>
        <div style="background-size:cover; margin:5px; width:303px; height:170px; background-color:yellow; float:left; background-image:url('/images/munich_7.jpg');"></div>
        <div style="background-size:cover; margin:5px; width:303px; height:170px; background-color:yellow; float:left; background-image:url('/images/munich_10.jpg');"></div>
        <div style="background-position:center; background-size:cover; margin:5px; width: 616px; height:170px; background-color:yellow; float:left; background-image:url('/images/munich_9.jpg');"></div>
        <div style="width:973px; height:360px; background-color:rgba(0,255,0,0.0); position:absolute; color:rgba(255,255,255,1.0); font-size:112px; line-height:190px; text-align:right;"></br>MÜNCHEN</div>
        
    </div>
    
</div>

<div class="footer">
    <div style="height:auto; overflow:auto; width:400px; margin:auto;">
    <div class="socialIcon" style="background-image:url('/images/F.jpg');"></div>
    <div class="socialIcon" style="background-image:url('/images/T.jpg');"></div>
    <div class="socialIcon" style="background-image:url('/images/I.jpg');"></div>
    <div class="socialIcon" style="background-image:url('/images/P.jpg');"></div>
    </div>
</div>

    
    
    
    
