

<div class="headerLineLeft"></div>
<div class="headerLineRight"></div>
<div class="header">
    
        <div class="advertisementButton" onClick="location.href='../restaurant'" style="color:white;margin-right:30px;">RESTAURANT</div>
        <div class="advertisementButton" onClick="location.href='../driver'" style="color:white;">FAHRER</div>
        <div class="mainLogo"></div>
        <!--<div class="mainLogo2"></div>-->
    
    <div class="leftIconButton" style="background-color: transparent; color:#FF6961;left:2px; " onClick="loadLoginForm()">ANMELDEN</div>
    <div class="leftIconButton" style="background-color: #FF6961; color:white; left:140px; " onClick="loadsignupForm()">REGISTRIEREN</div>
</div>

<video autoplay loop poster="/images/StartingVideoPIC.png" id="bgvid" >
    <source src="/videos/foodPlazaBackGround.mp4" type="video/mp4">
    <source src="/images/backgroundmovietwo.mp4" type="video/mp4">
</video>

<div class="videWindowDiv">
    <div class="registerButton" onclick="openSignUpDiv()">JOIN US</div>
    <div class="sloganDiv">
        YOUR FAVORITE RESTAURANTS AT HOME
    <span></br>Bestelle bei einer Auswahl der beliebtesten Restaurants deiner Stadt</span>
    </div>
</div>

<div id="loginFormDiv" class="loginFormDiv" style="overflow: scroll;z-index:201;"></div>

<div style="width:100%; background-color:black;">
<div class="infoStrip">
   <div class="detailsHeader" style="background-image: url('/images/coins.png');">Kein Midestbestellwert</div>
   <div class="detailsHeader" style="background-image: url('/images/tracking.png');">Life Tracking</div>
   <div class="detailsHeader" style="background-image: url('/images/star.png');">Restaurantpreise</div>
</div>
</div>

<div class="contentDiv1" style="background-color:rgba(0, 0, 0, 0.82); height:1450px;">

    <div id="centerDiv1" class="centerDiv">
        
        
        <div class="macBook">
            
            <div class="macScreenBack"></div>
            <div class="macScreen" id="macScreen"></div>
            
            <div class="phone">
                <div class="phoneBack"></div>
            </div>
            
        </div>
        
        
        <div id="contentText_1" class="contentText" style="top:150px;">
            <div class="iCon" style="background-image: url('/images/heart.png');"></div>
            YOU CHOOSE</br>
            <div class="detailText">Bestelle bei einer Auswahl der angesagtesten Restaurants deiner Stadt!
            Lass uns gemeinsam ein Statement im Namen der guten Küche setzen und werde noch Heute Teil von FOOD PLAZA.
            </div>
        </div>
        <div id="contentText_2" class="contentText" style="top:550px;">
            <div class="iCon" style="background-image: url('/images/cook.png');"></div>
            THEY COOK</br>
            <div class="detailText">
            Die besten Restaurants werden jetzt für dich mobil. Wir stehen mit unserem Namen für kulinarische Finesse und Qualität!
            Deine Bestellung wird stets frisch und mit liebe zubereitet.
            </div>
        </div>
        <div id="contentText_3" class="contentText" style="top:950px;">
            <div class="iCon" style="background-image: url('/images/scooter.png');"></div>
            WE DELIVER</br>
            <div class="detailText">Dank unserem inovativen logistic Systems glangt deine Bestellung schnell und
                zuverlässig ans Ziel. Verfolge deine Bestellung via LIVE TRACKING und behalte die Übersicht über deinen Lieferststus.
            </div>
        </div>
        
     
    </div>

</div>

<div  id="cityContent" class="contentDiv1" style="background-color:rgba(0, 0, 0, 0.82); height:1200px; ">
    
    <div id="cityCenter" class="centerDiv" style=" height:600px; margin-top:0px; overflow:auto; line-height:120px; color:rgba(28,28,28, 0);">
    
       <div class="citiesImage">
       </div>
       
    </div>
    
    <div id="cityCenter" class="centerDiv" style=" height:600px; margin-top:0px; overflow:auto; line-height:120px; color:rgba(28,28,28, 0);">
    </div>
    
</div>

<div class="footer">
    <div style="height:auto; overflow:auto; width:400px; margin:auto;">
    <div class="socialIcon" style="background-image:url('/images/F.jpg');"></div>
    <div class="socialIcon" style="background-image:url('/images/T.jpg');"></div>
    <div class="socialIcon" style="background-image:url('/images/I.jpg');"></div>
    <div class="socialIcon" style="background-image:url('/images/P.jpg');"></div>
    </div>
    
    <div class="impressum">
        <div class="impressumSection">FOOD PLAZA ©</div>
        <div class="impressumSection">IMPRESSUM</div>
        <div class="impressumSection">AGB's</div>
        <div class="impressumSection">CONTACT US</div>
    </div>
</div>

    
    
    
