

<div class="headerLineLeft"></div>
<div class="headerLineRight"></div>
<div class="header">
    
    
        <div class="advertisementButton" onClick="location.href='../restaurant'" style="color:white;margin-right:30px;">RESTAURANT</div>
        <div class="advertisementButton" onClick="location.href='../driver'" style="color:white;">FAHRER</div>
        
        <!--
        <div class="cityIcon" style="right:20px; background-image: url('/images/frankfurt_1.png'); height:70px; width:140px; bottom:8px; font-size:18px; line-height:50px; border-width:1px; border-radius:6px;">Frankfurt</div>
        <div class="cityIcon" style="right:170px; background-image: url('/images/munich_1.png'); height:70px; width:140px; bottom:8px; font-size:18px; line-height:50px; border-width:1px; border-radius:6px;">München</div>
         -->
        
        
        <div class="mainLogo"></div>
        <!--<div class="mainLogo2"></div>-->
    
    <div class="leftIconButton" style="background-color: transparent; color:#FF6961;left:2px; " onClick="loadLoginForm()">ANMELDEN</div>
    <div class="leftIconButton" style="background-color: #FF6961; color:white; left:140px; " onClick="loadsignupForm()">REGISTRIEREN</div>
</div>

<video autoplay loop poster="/images/StartingVideoPIC.png" id="bgvid">
    <source  type="video/mp4" src="/videos/foodPlazaBackGround.mp4">
    <source  type="" src="" media="all and (max-width:1000px)">
</video>

<div class="videWindowDiv">
    <div class="registerButton" onclick="openSignUpDiv()">Jetzt Bestellen</div>
    <div class="sloganDiv">
        YOUR FAVORITE RESTAURANTS AT HOME
    <span></br>Bestelle bei einer Auswahl der beliebtesten Restaurants deiner Stadt</span>
    </div>
    <!--
    <div class="cityIcon" style="right:40px; background-image: url('/images/frankfurt_1.png');">Frankfurt</div>
    <div class="cityIcon" style="right:240px; background-image: url('/images/munich_1.png');">München</div>
    -->
    
    
    <div class="cityIcon" style="left:50%; margin-left:-160px; background-image: url('/images/munich_1.png'); height:80px; width:150px; font-size:20px; line-height:50px; border-width:1px; border-radius:6px; bottom:70px;">München</div>
    <div class="cityIcon" style="right:50%; margin-right:-160px;  background-image: url('/images/frankfurt_1.png'); height:80px; width:150px; font-size:20px; line-height:50px; border-width:1px; border-radius:6px; bottom:70px;">Frankfurt</div>

    
</div>

<div id="loginFormDiv" class="loginFormDiv" style="z-index:201;"> <!--overflow:scroll;-->
</div>

<div style="width:100%; background-color:black;">
<div class="infoStrip">
   <div class="detailsHeader" style="background-image: url('/images/coins.png');">Kein Midestbestellwert</div>
   <div class="detailsHeader" style="background-image: url('/images/tracking.png');">Live Fahrertracking</div>
   <div class="detailsHeader" style="background-image: url('/images/star.png');">Restaurantpreise</div>
</div>
</div>

<div class="contentDiv1" style="background-color:rgba(0, 0, 0, 0.82); height:1850px;">

    <div id="centerDiv1" class="centerDiv">
        
        
        <div class="macBook">
            
            <div class="macScreenBack"></div>
            <div class="macScreen" id="macScreen"></div>
            
            <div class="phone">
                <div class="phoneBack"></div>
            </div>
            
        </div>
        
        
        <div id="contentText_1" class="contentText" style="top:150px;">
            <div class="iCon" style="background-image: url('/images/heart.png');"></div>
            YOU CHOOSE<!--DU WÄHLST--></br>
            <div class="detailText" >Bestelle bei einer Auswahl der angesagtesten Restaurants deiner Stadt!
            Lass uns gemeinsam ein Statement im Namen der guten Küche setzen und werde noch Heute Teil von FOOD PLAZA.
            </div>
        </div>
        <div id="contentText_2" class="contentText" style="top:550px;">
            <div class="iCon" style="background-image: url('/images/cook.png');"></div>
            THEY COOK<!--SIE KOCHEN--></br>
            <div class="detailText">
            Die besten Restaurants werden jetzt für dich mobil. Wir stehen mit unserem Namen für kulinarische Finesse und Qualität!
            Deine Bestellung wird stets frisch und mit liebe zubereitet.
            </div>
        </div>
        <div id="contentText_3" class="contentText" style="top:950px;">
            <div class="iCon" style="background-image: url('/images/scooter.png');"></div>
            WE DELIVER<!--WIR LIEFERN--></br>
            <div class="detailText">Dank unserem inovativen logistic Systems glangt deine Bestellung schnell und
                zuverlässig ans Ziel. Verfolge deine Bestellung via LIVE TRACKING und behalte die Übersicht über deinen Lieferststus.
            </div>
        </div>
        <div id="contentText_4" class="contentText" style="top:1350px;">
            <div class="iCon" style="background-image: url('/images/fee.png');"></div>
            FIXED FEE<!--FIXE GEBÜHR--></br>
            <div class="detailText">Wir wollen nicht, dass du dein Geld mit unnötigen Liefergühren verschwendest-
                Gönne dir zum Besipsile eine heisse Tasse Kaffe. Deswegen beanschlagen wir nur eine kliene feste Gebühr pro Lieferung.
            </div>
        </div>
        
     
    </div>

</div>

<!--
<div  id="cityContent" class="contentDiv1" style="background-color:rgba(0, 0, 0, 0.82); height:600px; ">
    
</div>
-->

<div class="footer">
    <div style="height:auto; overflow:auto; width:400px; margin:auto;">
    <div class="socialIcon" style="background-image:url('/images/F.jpg');" onclick="window.open('https://www.facebook.com/thedispatchery', '_new')"></div>
    <div class="socialIcon" style="background-image:url('/images/T.jpg');" onclick="window.open('https://twitter.com/thedispatchery', '_new')"></div>
    <div class="socialIcon" style="background-image:url('/images/I.jpg');" onclick="window.open('https://instagram.com/foodplaza.delivery/', '_new')"></div>
    <div class="socialIcon" style="background-image:url('/images/P.jpg');" onclick="window.open('https://de.pinterest.com/thedispatchery/', '_new')"></div>
    </div>
    
    <div class="impressum">
        <div class="impressumSection">FOOD PLAZA ©</div>
        <div class="impressumSection">IMPRESSUM</div>
        <div class="impressumSection">AGB's</div>
        <div class="impressumSection">CONTACT US</div>
    </div>
</div>

    
    
    
