
<!DOCTYPE html>
<head>
</head>
<div class="header" >
    <div class="bigLogoHomeButton"onClick="location.href='../'"></div>
    <div class="advertisement">
        <div class="advertisementButton" onClick="location.href='../restaurant'" style="background-color:#FF6961; color:white; border:0px solid #FFFFFF;">RESTAURANT</div>
        <div class="advertisementButton" onClick="location.href='../driver'" style="background-color:#202020; color:white; border:0px solid #FF6961; ">FAHRER</div>
        <div id="advertisementT_2" class="advertisementT" style="float:right;width:18%;"></div>
        <div class="smallLogo" onClick="location.href='../'" ></div>
        <div id="advertisementT_1" class="advertisementT" style="float:left;width:30%;"></div>
    </div>
    <div class="leftIconButton" style="background-color: transparent; color:#FF6961;left:2px;" onClick="loadLoginForm()">ANMELDEN</div>
    <div class="leftIconButton" style="background-color: #FF6961; color:white; left:140px;" onClick="loadsignupForm()">REGISTRIEREN</div>
</div>

<!--
<div class="socialMenue" >
    <div onclick="facebook()" id="facebook" class="socialButton" style="background-image: url('/images/facebook.jpg');"onmouseover="buttonOver('facebook')" onmouseout="buttonOut('facebook')"></div>
    <div onclick="instegram()" id="instegram" class="socialButton" style="background-image: url('/images/instegram.jpg');"onmouseover="buttonOver('instegram')" onmouseout="buttonOut('instegram')"></div>
    <div onclick="twitter()" id="twitter" class="socialButton" style="background-image: url('/images/twitter.jpg');"onmouseover="buttonOver('twitter')" onmouseout="buttonOut('twitter')"></div>
    <div onclick="pinterest()" id="pinterest" class="socialButton" style="background-image: url('/images/pinterest.jpg');"onmouseover="buttonOver('pinterest')" onmouseout="buttonOut('pinterest')"></div>
</div>
-->


<video autoplay loop poster="/images/StartingVideoPIC.png" id="bgvid" >
    <!--<source src="/images/backgroundmovietwo.webm" type="video/webm">-->
    <source src="/videos/foodPlazaBackGround.mp4" type="video/mp4">
    <source src="/images/backgroundmovietwo.mp4" type="video/mp4">
</video>
<div class="videWindowDiv">
    <div class="registerButton" onclick="openSignUpDiv()">JOIN US</div>
    <div class="sloganDiv">
        YOUR FAVORITE RESTAURANTS
    <span></br>Bestelle bei einer Auswahl der beliebtesten Restaurants deiner Stadt</span>
    </div>
    <!--<div class="subtitle"></div>-->
</div>


<!--
<div style="width:100%;min-width:900px;height:38px;background-color:white; color:#282828; font-size:40px; text-align:center; line-height:40px; font-family: mySeccondFont; padding-top:30px;">
</div>
-->

<div id="loginFormDiv" class="loginFormDiv" style="overflow: scroll;z-index:201;"></div>



<div class="contentDiv1" style="background-color:white;">
    <div class="centerDiv">
        <div class="details">
            <div class="iCon" style="background-image: url('/images/iphone.png');opacity:0.85;"></div>
            <div class="iConText" >
                <span>YOU CHOOSE</br></span>
                <div class="thin" ></div>
                </br>Wähle dein</br>
                Lieblingsrestaurant</br>
                und bestelle</br>
                bequem online</br>
            </div>
        </div>
        <div class="details"style="margin-left:15px;">
            <div class="iCon" style="background-image: url('/images/cook.png');opacity:0.85;"></div>
            <div class="iConText" >
                <span>THEY PREPARE</br></span>
                <div class="thin" ></div>
                </br>Das Restaurant</br>
                erhält deine Bestellung</br>
                und bereitet sie</br>
                umgehend für dich zu</br>
            </div>
        </div>
        <div class="details"style="margin-left:15px;">
            <div class="iCon" style="background-image: url('/images/scooter.png');opacity:0.85;"></div>
            <div class="iConText" >
                <span>WE DELIVER</br></span>
                <div class="thin" ></div>
                </br>Unsere Fahrer</br>
                liefern deine</br>
                Bestellung schnell</br>
                und zuverlässig</br>
            </div>
        </div>
    </div>
</div>


<div class="contentDiv1" style="background-color:#282828;">
    <div class="centerDiv">
        <div class="details">
            <div class="iCon" style="background-image: url('/images/heart.png');"></div>
            <div class="iConText2" >
                <span>KEIN MINDEST</br></span>
                <div class="thin2" ></div>
                </br>Wähle aus</br>
                einer Auswahl der</br>
                belibtesten Restaurants</br>
                deiner Stadt</br>
            </div>
        </div>
        <div class="details"style="margin-left:15px;">
            <div class="iCon" style="background-image: url('/images/leaf.png');"></div>
            <div class="iConText2" >
                <span>THEY PREPARE</br></span>
                <div class="thin2" ></div>
                </br>Deine Bestellung</br>
                wird an das</br>
                Restaurant</br>
                weitergegeben</br>
            </div>
        </div>
        <div class="details"style="margin-left:15px;">
            <div class="iCon" style="background-image: url('/images/map.png');"></div>
            <div class="iConText2" >
                <span>WE DELIVER</br></span>
                <div class="thin2" ></div>
                </br>Unsere Flotte</br>
                liefert deine</br>
                Bestellung schnell</br>
                und zuverlässig</br>
            </div>
        </div>
    </div>
    
    <div class="contentDiv1" style="background-color:white;">
        <div class="centerDiv" style="text-align:center; font-family:mySeccondFont; font-size:34px; line-height:20px; padding-top:55px;">
                Eine fixe Gebühr pro Bestellung</br></br>
            <span style="font-size:16px; line-height:10px; color:darkgrey;">Wir wollen nicht, dass du dein Geld mit unnötigen Liefergühren verschwendest-
                Gönne dir zum Besipsile eine heisse Tasse Kaffe. Deswegen beanschlagen wir nur eine kliene feste Gebühr pro Lieferung.
            </span>
            <div style="position:relative; width:180px;height:180px; margin:auto; top:40px; background-image: url('/images/deliveryCosts.jpg'); background-size:cover;">
            </div>
            
        </div>
    </div>
    
    <div class="footer"><div>
    
</div>
    
    
