<!DOCTYPE html>
<html>
  <head>
    <title>Food Plaza</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/javascripts/startVideo.js" type="text/javascript"></script>
    <script src="/javascripts/landingPage.js" type="text/javascript"></script>
    <script src="/javascripts/driverFP.js" type="text/javascript"></script>
    <script src="/javascripts/restaurantes.js" type="text/javascript"></script>

    <link rel='stylesheet' href='/stylesheets/index.css'/>
    <link rel='stylesheet' href='/stylesheets/driver.css'/>
    <link rel='stylesheet' href='/stylesheets/forms.css'/>
    <link rel='stylesheet' href='/stylesheets/restaurant.css'/>
    
  </head>
  <body>
      {{{body}}}
  </body>
</html>
  