
<head>
    <script src="/javascripts/loginPage.js" type="text/javascript"></script>
    <link rel='stylesheet' href='/stylesheets/login.css'/>
</head>


<div class="contentDiv1" style="background-color:black; height:100vh; top:0;">
    <div class="centerDiv" style="background-color:black;">

        <div style="margin-top: 100px; overflow:auto; position:relative;">
            <p style="overflow:auto;">
                Welcome <strong>{{user.email}} - {{user.userid}}</strong>
                <a href="/signout" title="sign out">sign out</a>
            </p>
        </div>
        <div onclick="location.href='/order/{{user.userid}}';" class="orderButton">Bestellen</div>

    </div>

</div>

