


<div class="header" >
    <div class="bigLogoHomeButton"onClick="location.href='../'"></div>
    <div class="advertisement">
        <div class="advertisementButton" onClick="location.href='../driver'" style="background-color:#FF6961; color:white; border:0px solid #FFFFFF;">FAHRER</div>
        <div class="advertisementButton" onClick="location.href='../'" style="background-color:#202020; color:white; border:0px solid #FF6961; ">HOME</div>
        <div id="advertisementT_2" class="advertisementT" style="float:right;width:18%;"></div>
        <div class="smallLogo" onClick="location.href='../'" ></div>
        <div id="advertisementT_1" class="advertisementT" style="float:left;width:30%;"></div>
    </div>
    <!--
    <div class="leftIconButton" style="background-color: transparent; color:#FF6961;left:2px;">ANMELDEN</div>
    <div class="leftIconButton" style="background-color: #FF6961; color:white; left:140px;">REGISTRIEREN</div>
     -->
</div>